<section>
  <h1>VOTA POR TUS CREADORES DE CONTENIDO PREFERIDOS</h1>
  <a class='github-button' href='/votes'>
    Login with Google
    <svg
      viewBox='0 0 256 262'
      xmlns='http://www.w3.org/2000/svg'
      preserveAspectRatio='xMidYMid'
      ><path
        d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'
        fill='#4285F4'></path><path
        d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'
        fill='#34A853'></path><path
        d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782'
        fill='#FBBC05'></path><path
        d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'
        fill='#EB4335'></path></svg
    >
  </a>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    flex-direction: column;
    gap: 1.5vmax;
  }

  .github-button {
    cursor: pointer;
    color: #e4e4e7;
    display: flex;
    align-items: center;
    background-color: transparent;

    gap: 0.5vmax;
    padding: 0.7vmax 1vmax;
    border-radius: 0.6vmax;
    font-weight: 500;
    font-size: 1vmax;
    transition: background-color 0.2s ease-in;
    width: fit-content;
    margin-inline: auto;
    text-decoration: none;
    position: relative;
    color: #111;
    border: 0.1vmax solid #111;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #ea4335, #fbbc05, #34a853, #4285f4);
      top: 0;
      left: 0;
      border-radius: inherit;
      z-index: -1;
      filter: blur(1px) opacity(0.7);
    }

    svg {
      width: 1.2vmax;
    }
  }

  .github-button:hover {
  }

  h1 {
    font-size: 4vmax;
    text-align: center;
    text-wrap: balance;
    color: transparent;
    background: linear-gradient(90deg, #ea4335, #fbbc05, #34a853, #4285f4);
    background-clip: text;
    animation: fadeIn 1s ease-in-out;
    width: 60%;
  }
</style>
